.App {
  text-align: center;
  margin: 20px;
}

h1 {
  font-family: Arial, sans-serif;
}

input[type="file"] {
  display: block;
  margin: 20px auto;
}

button {
  
  margin: 20px auto;
  color: #fff;
  cursor: pointer;
  margin-top: 1rem;

  display: inline-block;
  font-weight: 500;
  font-size: 1.8rem;
  color: #eee;
  background: #630a10;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.9rem 5rem;
}

button:hover {
  background-color: #006400;
}
